<form action="/new" method="post">
  <input type="text" name="beerName" placeholder="name of beer">
  <button type="submit" name="button">Submit</button>
</form>

<p><a href="/view_all">View your beers</a></p>
<form action="/DeleteAll" method="post">
   <button type="submit" name="button">Delete all beers</button>
 </form>
